[Unit]
Description=IBKR Gateway
After=network.target

[Service]
Type=simple
User=ibkr_gateway
WorkingDirectory=/opt/ibkr_gateway
ExecStart=/usr/bin/python3 /opt/ibkr_gateway/main.py
Restart=on-failure
RestartSec=15s
StandardOutput=append:/var/log/ibkr_gateway/info.log
StandardError=append:/var/log/ibkr_gateway-error.log
EnvironmentFile=/etc/ibkr_gateway/.env

[Install]
WantedBy=multi-user.target
